.hidden,
.invisible {
  display: none;
}

p > img {
  height: 2em;
}

.ellipsis::after {
  content: "…";
}

aside > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

article {
  clear: right;
}
